@font-face {
font-family: 'Reem Kufi';
src: url('./ReemKufi/ReemKufi-Regular.woff2') format('woff2'),
url('./ReemKufi/ReemKufi-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'Reem Kufi';
  src: url('./ReemKufi/ReemKufi-Regular.woff2') format('woff2'),
  url('./ReemKufi/ReemKufi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

